* {
    margin : 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: Helvetica;
    color: #2c3e50;
}

.title {
    font-weight: bold;
}

.btn {
    height: 50px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 5px 5px;
}

.btn:hover{
    background-color: #ecf0f1;
}

.router {
    text-decoration: none;
    color: #2c3e50;
}

/* navbar css  */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: fixed;
}

.nav-bar img {
    height: 50px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    justify-content: center;
}

li {
    display: inline;
    margin-right: 40px;
    font-family: Helvetica;
    color: #2c3e50;
    cursor: pointer;
}

/* banner */
.banner img {
    margin-top: 80px;
    width: 100%;
    position: relative;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    width: 600px;
    position: absolute;
    top: 400px;
    z-index: 1;
}

.banner-content h3 {
    font-size: 30px;
    color: #000;
}

.banner-content span {
    /* color: #000; */
    margin-bottom: 10px;
}

/* categories */

.categories{
    display: flex;
    padding: 30px 30px 30px 0;
}

.category {
    position: relative;
    margin-left: 30px;
}

.category img {
    width: 100% ;
    cursor: pointer;
}

.category span {
    position: absolute;
    top: 45%;
    left: 45%;
    color: #fff;
    z-index: 1;
}

/*best sell */

.best-sell {
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
    padding: 30px;

}

/*new-arrivals */

.new-arrivals{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
}

/* this is product box css  */

.box {
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    height: 350px;
    width: 250px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.box:hover {
    border: 1px solid black;
    transform: scale(1.1);
    transition: 0.5s;
}

.box img{
    cursor: pointer;
}


.box-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box-content span {
    color: #000;
}

/* this is before banner to contact */

.link-contact {
    display: flex;
    /* grid-template-columns: 50% 50%; */
    justify-content: space-between;
    align-items: center;
    background-color: #16a085;
    height: 120px;
    margin-top: 30px;
}

.link-contact span {
    padding-left: 80px;
    color: #fff;
    font-size: 30px;
}

.link-contact button {
    margin-right: 80px;
}

/* this is footer css  */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f1;
    padding-bottom: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 30px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

/*category*/

.category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    height: 100%;
    width: 300px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
}

.category-container span {
    margin-bottom: 30px;
    cursor: pointer;
}

.sort select {
    margin-bottom: 30px;
    height: 30px;
    width: 100%;
}

.search {
    display: flex;
}

.search input {
    width: 100%;
}

.search button {
    background-color: #2c3e50;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;

}

.search button:hover {
    background-color: #000;
}

.search button img{
    width: 20px;
}


/*this is for product detail */


.product-detail {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.product-img {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.main-img img{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 600px;
    margin-bottom: 10px;
}

.sub-img {
    display: flex;
}

.sub-img img {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    margin-right: 10px;
    cursor: pointer;
}

.sub-img img:hover{
    transform: scale(1.1);
    transition: 0.2s;
    border: 2px solid #16a085;
}

.product-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 300px;
    height: 100vh;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.quantity-input {
    margin-top: 10px;
}

.quantity-input button{
    height:40px;
    width: 40px;
    background-color: #16a085;
    border: 1px solid #16a085;
    color: white;
    cursor: pointer;
}

.quantity-input input {
    height:40px;
    width: 40px;
}

.input-quantity::-webkit-outer-spin-button,
.input-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.btn-add-to-cart{
    height: 50px;
    width: 220px;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 5px 5px #014437;
    background-color: #16a085;
    color: #fff;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-add-to-cart:hover{
    background-color: #1abc9c;
}

.description {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}


/*this is css for cart */


.cart-container{
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 110px;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 100vh;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); */
    border: 1px solid #ecf0f1;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.cart-content {
    display: flex;
    align-items: center;
}

.cart-product img {
    height: 80px;
    margin-right: 10px;
}

.cart-product-content {
    display: flex;
    flex-direction: column;
}

.input-quantity {
    height: 30px;
    width: 30px;
}

.input-quantity::-webkit-outer-spin-button,
.input-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-delete {
    height: 30px;
    width: 30px;
    background-color: #e74c3c;
    border: none;
    color: #fff;
    cursor: pointer;
}

.payment-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 30px;
    margin-left: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form input {
    height: 40px;
    margin-bottom: 10px;
}
.form select{
    height: 40px;
    margin-bottom: 10px;
}

.payment .text-payment {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
    padding-bottom: 10px;
}

.btn-checkout{
    height: 50px;
    width: 220px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #2c3e50;
    box-shadow: 5px 5px #0b151f;
    color: #fff;
    margin: 10px;
}

.btn-checkout:hover{
    background-color: #34495e;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/*css for bill */

.bill-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.bill-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bill-header img {
    width: 100px;
    padding: 10px;
}

.bill-box {
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); */
    margin-top: 30px;
    margin-bottom: 30px;
}

.bill-product {
    display: grid;
    grid-template-columns: 10% 50% 10% 15% 15%;
    padding-bottom: 10px;
}

.bill-info{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.customer-info{
    margin-bottom: 5px;
}

/*css for login */


.login-contaier {
    display: flex;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-form input {
    width: 300px;
    height: 40px;
    margin-top: 10px;
}

.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16a085;
    width: 600px;
    height: 600px;
}

.login-img img {
    width: 100px;
}

/* admin */

.admin {
    display: flex;
    padding-top: 110px;
}

.admin-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.admin-profile img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.admin-menu {
    display: flex;
    flex-direction: column;
}

/* staff */


.staff-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 800px;
    margin-left: 30px;
    margin-right: 30px;
}

.btn-add-new {
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #2980b9;
}

.staff-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 30px;
}

.staff-box {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.staff-info {
    display: grid;
    grid-template-columns: 10% 30% 30% 20% 10%;
    align-items: center;
    border-top: 1px solid #000;
    padding: 10px;
    cursor: pointer;
}

.staff-info:hover{
    background-color: #bdc3c7;
}

.head {
    border-top: none;
}

.head:hover {
    background-color: #fff;
} 
/* staff form */

.staff-update{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 600px;
    margin-left: 30px;
}

/* create product */

.create-product {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 800px;
    margin-left: 30px;
}

.btn-upload {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #7f8c8d;
    border-style: dashed;
    cursor: pointer;
    margin-bottom: 30px;
}



